 
 
<div class="link-modal pull-right" id="linkmodal">
  <button type="button" class="Grid-button" (click)="toggleSearch()">
    <img src="/icons/search.png" width="20"   />
  </button> 
  <button  (click)="childModal.show()">Añadir Libro</button>
</div>

<div class="Page-title">Catálogo</div>

<div class="Grid Grid-header">
  <div class="Grid-cell">Título</div>
  <div class="Grid-cell">Autor</div>
  <div class="Grid-cell">Tipo</div>
  <div class="Grid-cell">ISBIN</div>
  <div class="Grid-cell">Genero</div>
  <div class="Grid-cell">Lectores</div>
  <div class="Grid-cell">Fecha</div>
  <div class="Grid-cell">Opciones</div>
</div>


<div class="Grid Grid-filter" *ngIf="search">
        <div class="Grid-cell">
            <form [formGroup]="filterForm" novalidate>
              <input type="text" class="filter" name="title"   id="title" formControlName="title" (click)="disableAuthorGenre() ">
              
            </form>
        </div>

        <div class="Grid-cell">
            <form [formGroup]="filterForm" novalidate>
              <input type="text" class="filter" name="author" formControlName="author"> 
            </form>
        </div>
        <div class="Grid-cell">

        </div>
        <div class="Grid-cell">
            <form [formGroup]="filterForm" novalidate>
              <input type="text" class="filter" name="isbin" formControlName="isbin"  (click)="disableTitleAuthorGenre()"  (click)="disableTitleAuthorGenre()"> 
            </form>
        </div>
        <div class="Grid-cell">
            <form [formGroup]="filterForm" novalidate>
              <input type="text" class="filter" name="genre" formControlName="genre" > 
            </form>  
        </div>
        <div class="Grid-cell">
        </div>
        <div class="Grid-cell">
        </div>
        <div class="Grid-cell">
          
            <button type="button" class="Grid-button" (click)="deleteFilters()">
              <img src="/icons/delete-white.png" width="20" />
            </button>
            <button type="button" class="Grid-button" (click)="toggleSearch()">
              <img src="/icons/arrow-up-white.png" width="20" />
            </button>
        </div>   
    
  </div>

<div class="Grid" *ngFor="let book of books  | filter: filters">
  <div class="Grid-cell">
    <div >{{book.title}}</div>
  </div>
  <div class="Grid-cell">
    <div>{{book.author}}</div>
  </div>
  <div class="Grid-cell">
    <div>{{book.metadata.type}}</div>
  </div>
  <div class="Grid-cell">
    <div>{{book.metadata.isbin}}</div>
  </div>
  <div class="Grid-cell">
    <div>{{book.metadata.genre}}</div>
  </div>
  <div class="Grid-cell">
    <div *ngFor="let user of book.users">
      <div>{{user.name}}</div>
    </div>
  </div>
  <div class="Grid-cell">
    <div>{{book.metadata.date | date: 'longDate'}}</div>
  </div>
  <div class="Grid-cell">
    <button type="button" class="Grid-button" (click)="editBook(book)">
      <img src="/icons/edit.png" width="20" />
    </button>
    <button type="button" class="Grid-button" (click)="deleteBook(book)">
      <img src="/icons/delete.png" width="20" />
    </button>

  </div>
</div>





<div bsModal id="mdModal"   #childModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Book - Biblioteca Nacional</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="bookForm" novalidate>
            <div class="form-group">
                <label class="center-block">Título:
                    <input type="text" id="title"  class="form-control" formControlName="title"   #title required>
                </label>
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                    <div *ngIf="title.errors.required">El título es requerido.</div>
                </div>
            </div>

            <div class="form-group">
                <label class="center-block">Autor:
                    <input type="text" id="author" class="form-control" formControlName="author" #author required>
                </label>
                <div *ngIf="author.invalid && (author.dirty || author.touched)" class="alert alert-danger">
                    <div *ngIf="author.errors.required">El autor es requerido.</div>
                </div>
            </div>
            <div formGroupName="metadata">
                <div class="form-group">
                    <label class="center-block">Tipo:
                        <input type="text" id="type" class="form-control" formControlName="type">
                    </label>
                    
                </div>
                
                <div class="form-group">
                    <label class="center-block">Isbin:
                        <input type="text" id="isbin" class="form-control" formControlName="isbin"  required>
                    </label>
                
                </div>
                <div class="form-group">
                    <label class="center-block">Fecha:
                    <input type="text" pattern="\d{4}-\d{1,2}-\d{1,2}" class="form-control"  name="date" value=""  formControlName="date"  placeholder="YYYY-MM-DD" required> 
                    </label>
                </div>
                
                
                <div class="form-group"  > 
                    <label for="user">Género:</label>
                    <select  id="user" formControlName="genre" (change)="changeGenre()" [(ngModel)]="genre" >
                        <option value="default">--Select a genre--</option>
                      <option *ngFor="let genre of genres; let i = index" [ngValue]="genre">{{genre}} </option>
                    </select>
                </div>
                
                
            </div>
            
            <div class="form-group"  (change)="addUserToLibro($event)"> 
                <label for="user">Select users:</label>
              <select  id="user">
                <option id="select-{{i}}" *ngFor="let user of users; let i = index" [value]="id">{{user.name}} </option>
                </select>
            </div>
            <div class="form-group" >
                <div class="combo-group" *ngFor = "let u of userToAdd">
                     <span class="combo-item ">{{u.name}}</span>
                     <div  class="combo-item" (click)=deleteEnroll(u) ><img src="/icons/deletex.png" width="20"></div>
                </div>
            </div>    
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeModal()">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid"  (click)="confirm()">OK</button>
        </div>
        </div>
      </div>
    </div>
