a {
    font-size: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    border: 1px solid white;
    padding: 2.6em 2.9em;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .item {
    height: 40%;
    flex-basis: auto;
    flex-grow: 1;
    margin: 1em;
    padding: 15em 0.5em; 
  }
  