.Grid {
    display: grid;
    align-self: center;
    justify-content: stretch;
    align-content: stretch;
    align-items: center;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
  }
  
  .Grid-cell {
    grid-column-start: 1;
    grid-column: auto;
    
  }

  .Grid-button {
    margin: 5px;
    border: 5px;
    border-radius: 50px;
    background: #ffe7e700;
  }
  
  .Grid-button:hover,
  .Grid-button:active {
    background: #5c5c5c;
  }
  
  .Grid-header {
    font-size: 1.5em;
    font-style: bold;
    margin: 0.5em 0;
    padding: 0.2em 0;
  
    border-bottom: 1px solid white;
  }
  .Grid-body {
    
    margin: 0.2em 0;
    
  
    border-bottom: 1px solid #777777;

  }

 